.App {
  min-height: 100%;
  padding-bottom: 2rem;
}

.App__content {
  max-width: 1000px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: column;
  justify-content: center;
  padding-top: 2rem;
}
